const databaseConfig = {
    user: 'www',
    database: 'www',
    password: 'database password',
    port: 1234
};

const siteName = 'example.com';

module.exports = {
   databaseConfig: databaseConfig,
   siteName: siteName
}
