const databaseConfig = {
    user: 'database user',
    database: 'database name',
    password: 'database password',
    port: 1234
};

const siteName = 'example.com';

module.exports = {
   databaseConfig: databaseConfig,
   siteName: siteName
}
