extends layout


block content
    h1(class="m-4").
        How To Reach me
    div(class="m-5")
        u
            li.
                email: russloewe@gmail.com
            li.
                github: github.com/russloewe

