doctype html
html
  head
    include ./include/google.txt
    include ./include/favicon.txt
    //our own css stylesheet, given as variable from router
    link(rel='stylesheet', href=style)
    title= title 
  body
    div(id="name")
    div(id="icons")
    div(id="title-text")
        h1= title
    div(id="userbox")
    div(id="navbar")
    block content
    script(src="/javascripts/bundle.js")
