doctype html
html
  head
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-44408252-2')
    script(src='/javascripts/googleanalytics.js')
    meta(name='google-site-verification' content='Ed9o2vC5UsM8kA_5awz0IdxyEcaW_7CKl-iSlG50a4A')
    title= title
    link(rel='stylesheet', href=style)
    include favicon.txt
  body
    h4= title
    div(id="userbox")
    div(id="navbar")
    block content
    script(src="/javascripts/bundle.js")
