doctype html
html
  head
    meta(name='google-site-verification' content='Ed9o2vC5UsM8kA_5awz0IdxyEcaW_7CKl-iSlG50a4A')
    title= title
    link(rel='stylesheet', href=style)
  body
    div(id="userbox")
    div(id="navbar")
    block content
    script(src="/javascripts/bundle.js")
