doctype html
html
  head
    include ./include/google.txt
    include ./include/favicon.txt
    include ./include/esri.txt
    include ./include/favicon.txt
    script(src=map)
    title= title
    link(rel='stylesheet', href='/stylesheets/map.css')
    
  body
     div(id='viewDiv') 
     
