extends layout


block content
  h1= title
  div(id="navbar" class="tile")
  div(id="sidebar" class="tile")
  div(id="home" class="tile")
     h2 #{title}
     p This page is not availble for your user level.

