html,
body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
}

div#header h1{
  width: fit-content;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

div#header h1:empty {
  visibility: hidden;
}

div#header{
  width: fit-content;
  position: absolute;
  margin-right: auto;
  margin-left: 40%;
  z-index: 2;
}
