html, body {
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

a {
  color: #00B7FF;
  display: block;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  background: #359cff;
  color: #515441;
}

#logout {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 45px;
  background: #cecece;
}

#userbox {
 background: gray;
 border-radius: 5px;
 padding: 0px;
}

.tile{
  border: 2px solid black;
  border-radius: 5px;
  overflow:auto;
}

#navbar {
  float: none;

}

#sidebar {
float: left;
width: 100px;
}

#main {

}

ul{
   list-style-type: none;
}

div#navbar ul{
  display: inline;
}

div#navbar li{
  float: left;
  margin:10px;
}

div#userbox a {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: inline;
  background: #c7c7c7;
}
