/*Global Rules*/
html, body {
  height: 100%;
  overflow: hidden;
  padding:0px;
  margin:0;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  background: #02001d;
  color: #696971
}

a {
  color: #00B7FF;
  display: block;
  text-decoration: none;
  padding: 3px;
  color: #515441;
}

h4{
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

h3{
text-align: center;
}

ul{
   list-style-type: none;
   padding-left: 0px;
}
/*INPUT*/
input[type=text], input[type=password], textarea{
	color: #696971;
	background-color: #3a2044;
	border: 2px solid #757179;
	border-radius: 3px;
	margin: 2px;
}
input[type=submit], button {
	color: #000000;
	background-color: #757179;
	border: 2px solid #757179;
	border-radius: 4px;
	margin: 2px;
}
/*SRCOLL BAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #02001d;  
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33144c; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #702c88; 
}

/*MULTI AREA */
.tile{
  border-radius: 20px;
  overflow:auto;
  padding: 10px;
  margin-bottom: 100px;
}

.tile div p{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
.tile div img{
	width: 400px;
	height: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30%;
}

/*MAIN CONTENT AREA*/
#main{
overflow: auto;
padding-left: 50px;
padding-right: 50px;
}

div#content{
  float: left
}
/*FOOTER */

#foot-image{
  position: fixed;
  bottom: 0;
  height: 130px;
  pointer-events: none;
}


/*MESSAGE*/
#message {
  padding-left: 100px;
  }
  
  /*TITLE BAR*/
#logout {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 45px;
  background: #cecece;
}

div#userbox {
  position: absolute;
  right: 0;
  width: fit-content;
  height: 20px;
  float: right;
  background: #3a2044;
  border-radius: 5px;
  padding-top: 3px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#userbox a {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #99a2a9;
  border-radius: 5px;
  display: inline;
  background: #220c3c;
}
/*TITLEBAR GRID */
#name {
  padding: 10px;
}
#name p{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  text-align: left;
}
/*BODY GRID */

#icons{
  grid-area: icons;
}
#title-text{
  grid-area: banner;
}
#userbox{
grid-area: user;
}
#name {
  grid-area: name;
}
#main{
  grid-area: main;
}
#foot {
  grid-area: foot;
}
#navbar{
  grid-area: navbar;
}
#message{
	grid-area: message;
}

body {
  display: grid;
  grid-template-columns: [nav-start] 120px [nav-end main-start] auto [main-end] 50px;
  grid-template-rows: [top] 50px [banner-bottom] 25px [subbanner-top] auto [main-bottom foot-top] 70px [foot-bottom];
  grid-template-areas:
      "name banner user"
      "icons message ."
      "navbar  main main"
      "foot foot foot"
}

/*ADMIN AREA*/
.usertile{
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  overflow:auto;
  width:fit-content;
  float:left;
}

div#createUser {
  background: #6f9ae4;
  width: fit-content;
  padding: 10px
}
div#createUser input {
  margin: 5px
}
/*ICONS*/
div#icons li{
  float: left;
}
div#icons {
    position: absolute;
    padding-left: 30px;
    bottom: 0;
}
/*SIDEBAR*/
#navbar {
  float: left;
  height: 100%;
  padding-left: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar a{
  color: #4c5256;
}

.subnav ul li a{
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #494c54;
}

div#navbar ul{
  display: inline;
}

div#navbar li{
  margin:5px;
}

/*SMALL SCREEN*/


@media screen and (max-width: 600px) {
	body {
	  height: fit-content;
	  width: 100%;
	  display: grid;
	  overflow: scroll;
	  grid-template-columns: 100%;
	  grid-template-rows: 50px 50px 50px 50px auto 70px 40px;
	  grid-template-areas:
		  "banner "
		  "name"
		  "icons"
		  "navbar"
		  "main"
		  "foot"
		  "user"
	}
  #name p {
  text-align: center;
  }
  #navbar {
     width: 100%;
     height:auto;
     margin-top: 0px;
     padding-top: 0px;
  }
  div#navbar li{
     margin:5px;
     float: left;
  }
  div#icons{
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  }
    #main {
  	padding: 30px;
  }
  #main p{
  	padding: 0px;
  	margin: 0px
  }
}
