/***********************ADMIN AREA*************************************/
.usertile{
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  overflow:auto;
  width:fit-content;
  float:left;
}

div#createUser {
  background: #6f9ae4;
  width: fit-content;
  padding: 10px
}
div#createUser input {
  margin: 5px
}
/***********************END ADMIN AREA*************************************/
