/***********************ARTICLE***********************************/
.article div{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.article pre{
    font: --MAIN-TEXT-SIZE-- --CODE-TEXT-FONT--;
	color: --CODE-SOURCE--;
	background-color: --CODE-BOX-COLOR--;
	border-radius: 4px;
    padding: 8px;
	width: --CODE-BOX-WIDTH--;
	margin-left: auto;
	margin-right: auto;
}
.article pre.command{
    font: --MAIN-TEXT-SIZE-- --CODE-TEXT-FONT--;
	color: --CODE-COMMAND--;
	background-color: --CODE-BOX-COLOR--;
	border-radius: 4px;
    padding: 8px;
	width: --CODE-BOX-WIDTH--;
	margin-left: auto;
	margin-right: auto;
}
.article code {
    font: --MAIN-TEXT-SIZE-- --CODE-TEXT-FONT--;
	color: --CODE-SOURCE--;
}
.article code.command {
    font: --MAIN-TEXT-SIZE-- --CODE-TEXT-FONT--;
	color: --CODE-COMMAND--;
}
.article file{
    font: --MAIN-TEXT-SIZE-- --CODE-TEXT-FONT--;
	color: --CODE-FILENAME--;
}
.article p.text-warning{
	color: #ffba05;
}
.article ul{
	list-style-type: circle;
	padding-left: 30px;
}
.article ul li{
	padding: 4px;
}

.article h2{
    font: calc(--MAIN-TEXT-SIZE-- *1.8) --MAIN-TEXT-FONT--;
	color: --ARTICLE-HEADER-TEXT-COLOR--;
}
.article h3{
    font: calc(--MAIN-TEXT-SIZE-- *1.6) --MAIN-TEXT-FONT--;
	color: --ARTICLE-HEADER-TEXT-COLOR--;
    text-align: left;
    margin-left: -10px;
    margin-top: 40px;
}
.article h4{
    color: --ARTICLE-HEADER-TEXT-COLOR--;
}

.article h5{
	color: --ARTICLE-HEADER-TEXT-COLOR--;
}

img.profile{
	margin-left: 40%;
	margin-right: auto;
	width: 300px;
	height: 300px;
	border-radius: 400px;
}
/***********************END ARTICLE******************************/
