/************************** ARTICLE LIST SHARED ***************************/
.article-list a{
    width: 100%;
    padding: 5px;
    height: fit-content;
}

.article-stub div{
    width: 500px;
}
.article-stub h6{
    color: --MAIN-TEXT-COLOR--;
    grid-area: date;
    padding-top: 7px;
    text-align: center;
    margin: 0px;
    height: fit-content;
}
.article-stub h3{
    color: --MAIN-TEXT-COLOR--;
    grid-area: h3;
    padding: 7px;
    margin: 0px;
    height: fit-content;
    background:--STUB-H3-COLOR--;
}
.article-stub p{
    color: --MAIN-TEXT-COLOR--;
    grid-area: p;
    padding: 5px 0 5px 0;
}

/**************************END ARTICLE LIST ***************************/
