/***********************ARTICLE***********************************/
.article div{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.article pre{
    font: 15px/1.5 Monaco, MonoSpace;
	color: --CODE-SOURCE--;
	background-color: #424242;
	border-radius: 4px;
    padding: 8px;
	width: 82ch;
	margin-left: auto;
	margin-right: auto;
}
.article pre.command{
    font: 15px/1.5 Monaco, MonoSpace;
	color: --CODE-COMMAND--;
	background-color: #424242;
	border-radius: 4px;
    padding: 8px;
	width: 80ch;
	margin-left: auto;
	margin-right: auto;
}
.article code {
    font: 15px/1.5 Monaco, MonoSpace;
	color: --CODE-SOURCE--;
}
.article code.command {
    font: 15px/1.5 Monaco, MonoSpace;
	color: --CODE-COMMAND--;
}
.article file{
    font: 15px/1.5 Monaco, MonoSpace;
	color: --CODE-FILENAME--;
}
.article p.text-warning{
	color: #ffba05;
}
.article ul{
	list-style-type: circle;
	padding-left: 30px;
}
.article ul li{
	padding: 4px;
}

.article h2{
	color: --ARTICLE-HEADER-TEXT-COLOR--;
}
.article h4{
    color: --ARTICLE-HEADER-TEXT-COLOR--;
}

.article h5{
	color: --ARTICLE-HEADER-TEXT-COLOR--;
}

img.profile{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	border-radius: 400px;
}
/***********************END ARTICLE******************************/
