/***********************ARTICLE***********************************/
.article div{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.article pre{
	color: #a09bff;
	background-color: #424242;
	border-radius: 4px;
    padding: 8px;
	width: 82ch;
	margin-left: auto;
	margin-right: auto;
}
.article pre.command{
	color: #2cf731;
	background-color: #424242;
	border-radius: 4px;
    padding: 8px;
	width: 80ch;
	margin-left: auto;
	margin-right: auto;
}
.article code {
	color: #a09bff;
}
.article code.command {
	color: #2cf731;
}
.article file{
	color: #fd79fa;
}
.article p.text-warning{
	color: #ffba05;
}
.article ul{
	list-style-type: circle;
	padding-left: 30px;
}
.article ul li{
	padding: 4px;
}

.article h2{
	color: #3030ca;
}
.article h5{
	color:#3030ca
}
/***********************END ARTICLE******************************/
