/* MOBILE STYLESHEET*/

/***************************Global Rules*************************/
html, body {
  height: fit-content;
  overflow: scroll;
  padding:0px;
  margin:0;
  font: --MAIN-TEXT-SIZE--  --MAIN-TEXT-FONT--;
  position: relative;
  background: --MAIN-BACKGROUND-COLOR--;
  color: --MAIN-TEXT-COLOR-- ;
}
div{
height: fit-content;
}

a {
  color: --MAIN-LINK-TEXT-COLOR--;
  display: block;
  text-decoration: none;
  padding: 3px;
  color: --MAIN-LINK-BACKGROUND-COLOR--;
}

h1{
text-align: center;
}

h4{
  padding: 5px;
  margin: 5px;
  text-align: center;
}

h3{
text-align: center;
}

ul{
   list-style-type: none;
   padding-left: 0px;
}

/***************************End Global Rules*************************/
