/***********************CONTENT AREA********************************/
#main{
overflow: auto;
padding-left: 50px;
padding-right: 50px;
}

div#content{
  float: left
}
/***********************END CONTENT AREA********************************/
