/***************************FOOTER *********************************/

#foot-image{
  position: relative;
  width: 100%;
  height: 130px;
  pointer-events: none;
}
/***************************END FOOTER *********************************/
