/***************************FOOTER *********************************/

#foot-image{
  position: fixed;
  bottom: 0;
  height: 130px;
  pointer-events: none;
}
/***************************END FOOTER *********************************/
