/***************************ICONS*************************************/
div#icons li{
  float: left;
  margin: 4px;
}
div#icons {
    position: absolute;
    padding-left: 30px;
    bottom: 0;
}
div#icons img{
	width:25px;
	height: 25px;
}

div#icons a:hover{
background-color: white;
outline: 2px solid --MAIN-LINK-HOVER-BACKGROUND-COLOR--;
}
/***************************END ICONS*************************************/
