/***************************ICONS*************************************/
div#icons li{
  float: left;
}
div#icons {
    position: absolute;
    padding-left: 30px;
    bottom: 0;
}
/***************************END ICONS*************************************/
