/***************************ICONS*************************************/
div#icons li{
  float: left;
}
div#icons {
    position: absolute;
    padding-left: 30px;
    bottom: 0;
}

div#icons a:hover{
background-color: white;
border: 2px solid --MAIN-LINK-HOVER-BACKGROUND-COLOR--;
}
/***************************END ICONS*************************************/
