/*****************************INPUT************************************/
input[type=text], input[type=password], textarea{
	color: --MAIN-TEXT-COLOR--;
	background: --MAIN-BACKGROUND-COLOR--;
	border: 1px solid black;
	border-radius: 3px;
	margin: 2px;
}
input[type=submit], button {
	color: --MAIN-TEXT-COLOR--;
	background: --MAIN-BACKGROUND-COLOR--;
	border: 1px solid black;
	border-radius: 4px;
	margin: 2px;
}
textarea {
	height: 100%;
}
/*****************************END INPUT************************************/
