/***************************SRCOLL BAR******************************/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;  
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #828282; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}
/***************************END SRCOLL BAR******************************/
