/****************************TITLE BAR********************************/
#logout {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 45px;
  background: #cecece;
}

div#userbox {
  position: absolute;
  right: 0;
  width: fit-content;
  height: 20px;
  float: right;
  background: --NAV-LINK-BACKGROUND-COLOR--;
  border-radius: 5px;
  padding-top: 3px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#userbox a {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: --NAV-LINK-TEXT-COLOR--;
  border-radius: 5px;
  border: 1px solid --MAIN-BORDER-COLOR--;
  display: inline;
  background: --NAV-LINK-BACKGROUND-COLOR--;
}

#name {
  padding: 10px;
}


/*MESSAGE*/
#message {
  padding-left: 100px;
  }
  
/****************************END TITLE BAR********************************/
