const databaseConfig = {
    user: '{sql_username}',
    database: '{sql_database_name}',
    password: '{sql_user_pass}',
    port: {postgres_server_port}
};

const siteName = '{hostname}';

module.exports = {
   databaseConfig: databaseConfig,
   siteName: siteName
}
