
/****************************BODY GRID *****************************/

body {
      height: fit-content;
      width: 100%;
      display: grid;
      overflow: scroll;
      grid-template-columns: 60% 40%;
      grid-auto-rows: auto ;
      grid-template-areas:
          "banner banner"
          "name icons"
          "navbar navbar"
          "message message"
          "main main"
          "foot foot"
          "user user"
}

#icons{
  grid-area: icons;
}

#title-text{
  grid-area: banner;
}

#userbox{
grid-area: user;
}

#name {
  grid-area: name;
}

#main{
  grid-area: main;
}

#navbar{
  grid-area: navbar;
}

#message{
	grid-area: message;
}

/*************************END BODY GRID ***************************/
