/******************************SIDEBAR*******************************/
#navbar {
  float: left;
  height: 100%;
  padding: 0px;
  font: 80px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar a{
	width: fit-content;
	margin-left: 20px;
	margin-right: auto;
  color: --NAV-LINK-TEXT-COLOR--;
  background: --NAV-LINK-BACKGROUND-COLOR--;
}

.subnav ul li a{
  font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: --NAV-LINK-TEXT-COLOR--;
}

div#navbar ul{
  display: inline;
}

div#navbar li{
  margin:5px;
  background: #262436;
}
/******************************END SIDEBAR*******************************/
