/***************************ICONS*************************************/
div#icons{
	width: 100%;
}
div#icons ul {
	width: 100%;
}
div#icons ul a{
	width: fit-content;
	float: right;
}
div#icons li{
	width:100%;
}

div#icons ul img{
	width: 80px;
	height: 80px;
}
/***************************END ICONS*************************************/
