/* MOBILE STYLESHEET*/

/***************************Global Rules*************************/
html, body {
  height: fit-content;
  overflow: scroll;
  padding:0px;
  margin:0;
  font: 60px  Arial,helvetica,"Segoe UI",sans-serif;
  position: relative;
  background: #02001d;
  color: #696971
}
div{
height: fit-content;
}

a {
  color: #00B7FF;
  display: block;
  text-decoration: none;
  padding: 3px;
  color: #515441;
}

h4{
  font: 80px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

h3{
text-align: center;
}

ul{
   list-style-type: none;
   padding-left: 0px;
}

/***************************End Global Rules*************************/
