/************************** ARTICLE LIST ***************************/
.article-list a{
    width: 100%;
    padding: 5px;
    margin: 20px auto 20px auto;
    height: fit-content;
}
.article-stub {
    margin: 0px;
    height: fit-content;
    overflow: hidden;
    border-radius: 3px;
    background: -ARTICLE-STUB-BACKGROUND-COLOR-;
    display: grid;
    grid-template-columns:  210px  auto 100px;
    grid-template-rows:  auto auto;
    grid-template-areas:
      "h3 h3 date"
      "img p p"
      "img p p"
}
.article-stub div{
    width: 100%;
}
.article-list{
	display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}
.article-stub h6{
    grid-area: date;
    padding-top: 7px;
    text-align: center;
    margin: 0px;
    height: fit-content;
}
.article-stub h3{
    grid-area: h3;
    padding: 7px;
    margin: 0px;
    height: fit-content;
    background: -ARTICLE-STUB-H3-COLOR-;
}
.article-stub p{
    grid-area: p;
    padding: 5px 0 5px 0;
}
.article-stub img{
    grid-area: img;
    width: 200px;
    height: 150px;
 }
/**************************END ARTICLE LIST ***************************/
