/**********************SMALL SCREEN**********************************/

@media screen and (max-width: 950px) {
	body {
	  height: fit-content;
	  width: 100%;
	  display: grid;
	  overflow: scroll;
	  grid-template-columns: 100%;
	  grid-template-rows: 60px 60px 150px 50px auto 70px 40px;
	  grid-template-areas:
		  "banner "
		  "name"
		  "icons"
		  "navbar"
		  "main"
		  "foot"
		  "user"
	}
  #name p {
  text-align: center;
  }
  #navbar {
     width: 100%;
     height:auto;
     margin-top: 0px;
     padding-top: 0px;
  }
  div#navbar li{
     margin:5px;
     float: left;
  }
  div#navbar a{
  	width:fit-content;
  }
  div#icons{
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  }
    #main {
  	padding: 30px;
  }
}

/**********************END SMALL SCREEN**********************************/
