/****************************TITLE BAR Desk********************************/

#name p{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:--MAIN-TEXT-COLOR--;
  margin:0;
  text-align: left;
}

  
/****************************END TITLE BAR Desk********************************/
