/******************************SIDEBAR*******************************/
#navbar {
  float: left;
  height: 100%;
  padding-left: 20px;
  font: --MAIN-TEXT-SIZE-- --MAIN-TEXT-FONT--;
}

.navbar a{
  padding-left: 10px;
  color: --NAV-LINK-TEXT-COLOR--;
  background: --NAV-LINK-BACKGROUND-COLOR--;
  border-radius: 5px;
  border: 1px solid --MAIN-BORDER-COLOR--;
}

.navbar a:hover{
   color: --NAV-LINK-HOVER-TEXT-COLOR--;
   background: --NAV-LINK-HOVER-BACKGROUND-COLOR--;
     font: calc(--MAIN-TEXT-SIZE-- + 1px) --MAIN-TEXT-FONT--;
   }

.subnav ul li a{
  font: calc(--MAIN-TEXT-SIZE-- - 2px) --MAIN-TEXT-FONT--;
  color: --NAV-LINK-TEXT-COLOR--;
}
.subnav ul li a:hover{
  color: --NAV-LINK-HOVER-TEXT-COLOR--;
  background: --NAV-LINK-HOVER-BACKGROUND-COLOR--;
  font: calc(--MAIN-TEXT-SIZE-- - 1px) --MAIN-TEXT-FONT--;
}

div#navbar ul{
  display: inline;
}

div#navbar li{
  margin:5px;
}
/******************************END SIDEBAR*******************************/
