/****************************TITLE BAR Desk********************************/

#name p{
  font: --MAIN-TEXT-SIZE-- --MAIN-TEXT-FONT-- ;
  color:--MAIN-TEXT-COLOR--;
  margin:0;
  text-align: left;
  white-space: nowrap;
}

  
/****************************END TITLE BAR Desk********************************/
