/**********************BODY GRID *************************************/

#icons{
  grid-area: icons;
}
#title-text{
  grid-area: banner;
}
#userbox{
grid-area: user;
}
#name {
  grid-area: name;
}
#main{
  grid-area: main;
}
#foot {
  grid-area: foot;
}
#navbar{
  grid-area: navbar;
}
#message{
	grid-area: message;
}

body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: [banner] 60px [icons] 30px [main] 100% [footer] 70px ;
  grid-template-areas:
      "name banner user"
      "icons message ."
      "navbar  main main"
      "foot foot foot"
}
/**********************END BODY GRID *************************************/
