/*********************Global desktop Rules*************************/
body {
    height: fit-content;
    min-height: 100%;
    overflow: scroll;
    padding:0px;
    margin:0;
    font: 18px  Arial,helvetica,"Segoe UI",sans-serif;
    position: relative;
    background: --MAIN-BACKGROUND-COLOR--;
    color: --MAIN-TEXT-COLOR--;
}
html{
min-height: 100%;
}

a {
	width: fit-content;
    color: black;
    display: block;
    text-decoration: none;
    padding: 3px;
    color: blue;
}
a:hover {
    color:#ffffff;
    text-decoration: none;
    background: gray;
    border-radius: 7px;
}
h4{
    font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

h3{
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
/*********************END Global desktop Rules*************************/
