/*SRCOLL BAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #02001d;  
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33144c; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #702c88; 
}
