/******************************SIDEBAR*******************************/
#navbar {
  float: left;
  height: 100%;
  padding-left: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar a{
  color: #4c5256;
}

.subnav ul li a{
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #494c54;
}

div#navbar ul{
  display: inline;
}

div#navbar li{
  margin:5px;
}
/******************************END SIDEBAR*******************************/
